<section class="py-2">
<div class="row">
    <div class="col-md-6 text-center">
    <h1>Cracking The Coding Interview Ebook</h1><p class="lead">Showing how to get hired in the software interviews</p>
    <form action="/charge" method="POST">
        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button" data-key="pk_test_1sx9J0DCcrcgDbqII0ZXCips" data-zip-code="true" data-amount="1500"
            data-name="Cracking The Coding Interview"  data-image="/img/marketplace.png"
            data-locale="auto"> 
            </script>
    </form>

    </div>
    <div class="col-md-6">
        <img src="https://www.byte-by-byte.com/wp-content/uploads/2016/07/cracking-the-coding-interview.png" class="img-fluid" alt="" />



    </div>

</div>



</section>